$white-color:      #FFF;
$orange-color:     #E65C43;
$grey-color:       #666;
$darkorange-color: #F25C43;
$palewhite-color:  #F5F6F6;
$darkgrey-color:   #30353D;

$background-image: '../../images/bg.gif';
$logo-image: '../../images/logo.png';
$socialmedia-image: '../../images/social-media.png';

$body-font: 'Roboto', sans-serif;
$sm-size: 36px;
$sm-margin: 5px;
$screen-lg: 959px;
$screen-md: 767px;
$screen-sm: 459px;
